@import url(/estilos.css/nav.css);
@import url(/estilos.css/portada.css);
@import url(/estilos.css/marcas.css);
@import url(/estilos.css/servicios.css);
@import url(/estilos.css/registrar.css);
@import url(/estilos.css/case_study.css);

* {
    box-sizing: border-box;
}

body {
    margin: 1rem 5rem;
    padding: 0;
}

.presentacion {
    height: 100%;
    width: 100%;
}

@media (max-width: 767px){
    body {
        margin: 15px;
    }
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: nav 3s ease-in;
}

.logo {
    display: flex;

    gap: 10px;
}

.logo > img {
    width: 30px;
}

.logo > p {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navegacion > button {
    padding: 10px 30px;
    border-radius: 8px;
    border: solid 2px black ;
    background: whitesmoke;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.navegacion > a {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* menu */

.menu_desplegable {
    position: relative;
}

.sub_menu {
    display: flex;
    flex-direction: column;
    background: rgb(169, 183, 178);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    min-width: 100px;
    max-width: 300px;
    gap: 20px;
    position: absolute;
    right: 0; 
    z-index: 1000;
}

.mostrar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Tema */

.tema {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 0 10px;
    border-radius: 10px;
}

.line {
    width: 100%;
    height: 2px;
    border: transparent;
    background: black;
}

@keyframes nav {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .3;
    }
    50%{
        opacity: .6;
    }
    75%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width: 1024px) and (max-width: 2444px) {
    .menu_desplegable {
        display: none;
    }
}
/* modo */
.dark-theme {
    background-color: black;
    color: white;
}

.dark-theme a {
    color: white;
}

.dark-theme .tema {
    background: #333;
}

.dark-theme .btn {
    background: #ffffff;
}

/* Seccion1 */

.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portada {
    animation: texto 3s ease-in-out;
}

.portada > h1 {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 6rem;
    margin: 0;
}

.portada > p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 0;
}

.portada > button {
    padding: 15px 3%;
    color: white;
    background: black;
    border-radius: 5px;
    border: transparent;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.section_1 > img {
    width: 40%;
    min-width: 300px;
    max-width: 800px;
    animation: image 3s ease-in-out;
}

@keyframes texto {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes image {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateX(0);
    }
}

/* Media Responsi */

@media (max-width: 767px){
    .navegacion > a, 
    .navegacion > button {
        display: none;
    }
    .section_1 > img {
        display: none;
    }
    .portada > h1 {
        font-size: 30px;
        line-height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .section_1 {
        flex-direction: column;
        gap: 20px;
    }
    .navegacion > a,
    .navegacion > button {
        display: none;
    }
}

/*Marcas*/

.marcas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    margin: 80px 0;

    gap: 30px;
}

.marcas > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    gap: 15px;
}

.marcas > div > img {
    width: 40px;
    height: 40px;
}

.marcas > div > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Section 2 'Servicios'*/

/* Title */
.servicios {
    display: flex;
    align-items: center;

    gap: 20px;
}

.servicios > h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(186, 250, 90);
    padding: 5px 10px;
}

.servicios > p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 80px 0;

    gap: 50px;
}

.card1, .card2, .card3, .card4 {
    display: flex;
    justify-content: space-between;
}

/* Card 1, Card 4 */
.card1 {
    border: solid 3px black;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 5px 0 black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    margin: 0;
}

.span1 {
    background: rgb(186, 250, 90);
    padding: 0 2px;
}

.more {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.more > img {
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Card 2, Card 3*/
.card2 {
    background-color: black;
    border-radius: 30px;
    padding: 30px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container2 > h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    padding: 5px;
    margin: 0;
}

.span2 {
    background: white;
    padding: 0 2px;
}

.more2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.more2 > img {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.more2 > p {
    color: white;
}

/* Media Responsi */

@media (max-width: 767px){
    .servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 0;
    }
    .container > h3,
    .container2 > h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .servicios > p {
        font-size: 15px;
    }
    .container > h3,
    .container2 > h3 {
        font-size: 20px;
    }
}

/* Section 3 'Registrar'*/

.registrar {
    display: flex;
    justify-content: space-between;
    background: rgb(216, 216, 216);
    border-radius: 20px;
    padding: 40px;
    margin: 100px 0;
}

.text > h3 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.text > p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text > button {
    color: white;
    background: black;
    border: transparent;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.registrar > img {
    width: 300px;
    margin-right: 50px;
}

@media (max-width: 768px){
    .registrar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .registrar > img {
        margin: 0;
    }
}


