@import url(/estilos.css/nav.css);
@import url(/estilos.css/portada.css);
@import url(/estilos.css/marcas.css);
@import url(/estilos.css/servicios.css);
@import url(/estilos.css/registrar.css);
@import url(/estilos.css/case_study.css);

* {
    box-sizing: border-box;
}

body {
    margin: 1rem 5rem;
    padding: 0;
}

.presentacion {
    height: 100%;
    width: 100%;
}

@media (max-width: 767px){
    body {
        margin: 15px;
    }
}




