/*Marcas*/

.marcas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    margin: 80px 0;

    gap: 30px;
}

.marcas > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(214, 214, 214);
    border-radius: 5px;
    gap: 15px;
}

.marcas > div > img {
    width: 40px;
    height: 40px;
}

.marcas > div > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}