/* Section 3 'Registrar'*/

.registrar {
    display: flex;
    justify-content: space-between;
    background: rgb(216, 216, 216);
    border-radius: 20px;
    padding: 40px;
    margin: 100px 0;
}

.text > h3 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.text > p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text > button {
    color: white;
    background: black;
    border: transparent;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.registrar > img {
    width: 300px;
    margin-right: 50px;
}

@media (max-width: 768px){
    .registrar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .registrar > img {
        margin: 0;
    }
}